div.banner-row {
    background-color: #00aa7f;
    color: #fffbe7;
    margin-bottom: 0 !important;
    height: 5rem;
}

div.banner-titulo h1 {
    font-size: 18pt;
}

div.banner-logo {
    text-align: left;
    width: 8rem;
}

div.banner-logo img {
    height: 100%;
}

button.more a {
    color: #fffbe7;
}

li a.nav-link {
    font-size: 1.3em;
    font-weight: 600;
}

div.delcostado {
    font-size: 1.3em;
    font-weight: 600;
    border: 3px solid #343a40;
}

aside.postpromonav {
    margin-bottom: 1em;
}