div.banner-row {
    background-color: #00aa7f;
    color: #fffbe7;
    margin-bottom: 0 !important;
    height: 5rem;
}

div.banner-titulo h1 {
    font-size: 18pt;
}

div.banner-logo {
    text-align: left;
    width: 8rem;
}

div.banner-logo img {
    height: 100%;
}

button.more a {
    color: #fffbe7;
}

li a.nav-link {
    font-size: 1.1em;
    /* font-weight: 600; */
}

div.delcostado {
    font-size: 1.3em;
    font-weight: 400;
    border-bottom: 1px dotted #343a40;
    margin-top: 4px;
    margin-bottom: 4px;

}

aside.postpromonav {
    margin-bottom: 1em;
}

input#tipue_search_input {
    padding: 3px;
}

.h1, h1 {
    font-size: 20pt;
}

.h2, h2 {
    font-size: 16pt;
}

.h3, h3 {
    font-size: 14pt;
}

.h4, h4 {
    font-size: 12pt;
}