div.banner-row {
    background-color: #628f7b;
    color: #fffbe7;
    margin-bottom: 0 !important;
}

button.more a {
    color: #fffbe7;
}

li a.nav-link {
    font-size: 1.3em;
    font-weight: 600;
}

div.delcostado {
    font-size: 1.3em;
    font-weight: 600;
    border: 3px solid #343a40;
}