## -*- coding: utf-8 -*-
<%namespace name="base" file="base_helper.tmpl" import="*" />
<%namespace name="notes" file="annotation_helper.tmpl" import="*" />
${set_locale(lang)}
${base.html_headstart()}
<%block name="extra_head">
### Leave this block alone.
</%block>
${template_hooks['extra_head']()}
</head>
<body>
<a href="#content" class="sr-only sr-only-focusable">${messages("Skip to main content")}</a>

<!-- Menubar -->
<div class="d-flex flex-row bd-highlight mb-3 justify-content-center banner-row">
  <div class="p-2 bd-highlight"><img src="/images/manos.png"></div>
  <div class="p-2 bd-highlight"><h1 class="bannertitle">ENCUENTROS DE MEDIADORES<br></b><small>Asociación Civil</small></h1></div>
</div>
<nav class="navbar navbar-expand-md navbar-dark bg-dark static-top mb-4">
    <div class="container"><!-- This keeps the margins nice -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bs-navbar" aria-controls="bs-navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="bs-navbar">
            <ul class="navbar-nav mr-auto">
                ${base.html_navigation_links_entries(navigation_links)}
                ${template_hooks['menu']()}
            </ul>
            <ul class="navbar-nav navbar-right">
                ${search_form}
                ${base.html_navigation_links_entries(navigation_alt_links)}
                <%block name="belowtitle">
                %if len(translations) > 1:
                    <li>${base.html_translations()}</li>
                %endif
                </%block>
                ${template_hooks['menu_alt']()}
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->
</nav>

<!-- End of Menubar -->
<div class="container" id="content" role="main">
    <div class="row">
        <div class="col">
            <div class="jumbotron">
            Preasociate Aquí
            </div>
            <div class="jumbotron">
            Suscribite a nuestro newsletter
            </div>
            <div class="jumbotron">
            Links de Interés
            </div>
        </div>
        <div class="body-content col-9">
            <!--Body content-->
            ${template_hooks['page_header']()}
            <%block name="content"></%block>
            <!--End of body content-->

            <footer id="footer">
                ${content_footer}
                ${template_hooks['page_footer']()}
            </footer>
        </div>
    </div>
</div>

${base.late_load_js()}
    <!-- fancy dates -->
    <script>
    moment.locale("${momentjs_locales[lang]}");
    fancydates(${date_fanciness}, ${js_date_format});
    </script>
    <!-- end fancy dates -->
    <%block name="extra_js"></%block>
    <script>
    baguetteBox.run('div#content', {
        ignoreClass: 'islink',
        captions: function(element) {
            return element.getElementsByTagName('img')[0].alt;
    }});
    </script>
${body_end}
${template_hooks['body_end']()}
</body>
</html>
