## -*- coding: utf-8 -*-
<%block name="content">
<!-- Begin post-list ${post_list_id} -->
<div id="${post_list_id}" class="post-list">
    %if posts:
        % for post in posts:
            <div>
            <h3><a href="${post.permalink(lang)}">${post.title(lang)|h}</a></h3>
            ${post.formatted_date(date_format)|h}<br>
            &nbsp;
            % if post.meta('previewimage'):
                <img src="${post.meta('previewimage')}" style="float:left; margin: 0 1em 0 1em;">
            % endif
            ${post.text(teaser_only=True)}
            </div>
        % endfor
    %endif
</div>
<!-- End post-list ${post_list_id} -->
</%block>
